<!DOCTYPE html>
<html>
  <head>

    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>

    <script type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPs91oNcsxDb2dT4SVWumxdK0wAJzMDcE"></script>
    <script type="text/javascript" src="http://<%= @vd_domain %>/javascripts/live/websocket_client.js"></script>

    <script type="text/javascript" src="country_codes.js"></script>
    <script type="text/javascript" src="maps_controller.js"></script>

    <script type="text/javascript">
      window.onload = loadScript;
    </script>

  </head>

  <body>
    <div id="map-canvas"></div>
  </body>
</html>
